@css3 {

	@box-shadow(@attr) {
		-moz-box-shadow: @attr;
		-webkit-box-shadow: @attr;
		box-shadow: @attr;
	}

	@border-radius(@attr){
		border-radius: @attr;
		-webkit-border-radius: @attr;
		-moz-border-radius: @attr;
	}

	@background-gradient(@color1; @color2){
		background: -moz-linear-gradient(center top, @color1 0%, @color2 100%);
		background: -webkit-gradient(linear, left top, left bottom, from(@color1),to(@color2));
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=@color1, endColorstr=@color2);	
	}
}