/* =Fonts
-------------------------------------------------------------- */

input, textarea {
	font-family: Georgia, "Bitstream Charter", serif;
}

input[type=submit] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

/* =Global Elements
-------------------------------------------------------------- */

input,
textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}


input[type="text"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}



/* =Content
-------------------------------------------------------------- */


#content input,
#content textarea {
	color: #333;
	font-size: 16px;
	line-height: 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}


/* Comments form */
input[type=submit] {
	color: #333;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}
